hostname {{ device.hostname }}
!
{% for interface in device.interfaces if not interface.mgmt_only %}
interface {{ interface.name | arista_ifname }}
{% if interface.name.startswith("Et") %}
   no switchport
{% endif %}
{% for address in interface.ip_addresses %}
{% if (address | ip_family) == 4 %}
   ip address {{ address }}
{% endif %}
{% endfor %}
{% for address in interface.ip_addresses %}
{% if (address | ip_family) == 6 %}
   ipv6 address {{ address }}
{% endif %}
{% endfor %}
{% if interface.name in ctx.ospfv3.interfaces %}
   ipv6 ospf {{ ctx.ospfv3.process_id }} area 0.0.0.0
{% endif %}
{% if interface.name in ctx.isis.interfaces %}
   isis enable {{ ctx.isis.process_id }}
{% endif %}
!
{% endfor %}

{% for name, entries in ctx.prefix_lists.ipv4 | dictsort %}
{% for entry in entries %}
ip prefix-list {{ name }} seq {{ entry.sequence }} {{ entry.action }} {{ entry.prefix }}
{% endfor %}
{% endfor %}
{% for name, entries in ctx.prefix_lists.ipv6 | dictsort %}
ipv6 prefix-list {{ name }}
{% for entry in entries %}
   seq {{ entry.sequence }} {{ entry.action }} {{ entry.prefix }}{{ " le " ~ entry.le if entry.le is defined else "" }}
{% endfor %}
{% endfor %}
!

route-map {{ ctx.route_maps.isis_to_ospf.name }} permit 10
   match ip address prefix-list {{ ctx.route_maps.isis_to_ospf.match_ipv4_prefix_list }}
!
route-map {{ ctx.route_maps.isis_to_ospfv3.name }} permit 10
   match ipv6 address prefix-list {{ ctx.route_maps.isis_to_ospfv3.match_ipv6_prefix_list }}
!
route-map {{ ctx.route_maps.ospfv3_to_isis.name }} permit 10
   match ipv6 address prefix-list {{ ctx.route_maps.ospfv3_to_isis.match_ipv6_prefix_list }}
!

router isis {{ ctx.isis.process_id }}
   net {{ ctx.isis.net }}
   is-type {{ ctx.isis.is_type }}
{% if ctx.isis.redistribute_ospf_ipv4.include_leaked %}
   redistribute ospf include leaked match {{ ctx.isis.redistribute_ospf_ipv4.match }}
{% endif %}
   !
   address-family ipv4 unicast
   !
   address-family ipv6 unicast
      redistribute ospfv3 match {{ ctx.isis.redistribute_ospfv3_ipv6.match }} route-map {{ ctx.isis.redistribute_ospfv3_ipv6.route_map }}
{% if ctx.isis.ipv6_multi_topology %}
      multi-topology
{% endif %}
!

router ospf {{ ctx.ospf.process_id }}
   router-id {{ ctx.router_id }}
{% for interface in ctx.ospf.passive_interfaces %}
   passive-interface {{ interface | arista_ifname }}
{% endfor %}
   redistribute isis {{ ctx.ospf.redistribute_isis.level }} route-map {{ ctx.ospf.redistribute_isis.route_map }}
{% for network in ctx.ospf.networks %}
   network {{ network.prefix }} area {{ network.area }}
{% endfor %}
   max-lsa {{ ctx.ospf.max_lsa }}
!

ipv6 router ospf {{ ctx.ospfv3.process_id }}
   router-id {{ ctx.router_id }}
   redistribute isis {{ ctx.ospfv3.redistribute_isis.level }} route-map {{ ctx.ospfv3.redistribute_isis.route_map }}
!
